<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Appr List</title>
  </head>
  <body class="container-fluid bg-warning">
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <br><br>
    <center><h3 style="color:black; font-weight: bold; font-family: Josefin Sans"> List of Appraisals </h3></center>
    <br><br>
    <div class="container-sm" style="width: 25%; color: black; font-weight: bolder; font-family: Josefin Sans;">
    <ol>
    {% for i in apprs %}
    <li>
      Appraisal No : {{ i.appr_no }}
      <ul>
        <li>Points : {{ i.appr_pts }}</li>
        <strong><li>Employee Id : {{ i.EmployeeNo }}</li></strong>
        <strong><li>Date : {{ i.date_of_appr }}</li></strong>
        <strong><li>Manager Id : {{ i.magr_id }}</li></strong>
        <li>Notes : {{ i.appr_text }}</li>
      </ul>
    </li>
    <br>
    {% endfor %}
    </ol>
    </div>
  </body>
</html>