<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  <title>Dashboard</title>
</head>

<body class="bg-dark">
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
    crossorigin="anonymous"></script>
  <center>
    <h3 style="font-weight: bold; font-family: Josefin Sans" class="text-danger"> HR Dashboard</h3>
  </center>
  <br><br>
  <center>
    <a href="newappr" class="btn btn-danger btn-md" style="width: 250px;">Start an Appraisal</a>
    <br><br>
    <a href="dispappr" class="btn btn-danger btn-md" style="width: 250px;">View Appraisals</a>
    <br><br>
    <a href="newremk" class="btn btn-danger btn-md" style="width: 250px;">File a Remark</a>
    <br><br>
    <a href="dispremk" class="btn btn-danger btn-md" style="width: 250px;">View Remarks</a>
    <br><br>
    <a href="display" class="btn btn-danger btn-md" style="width: 250px;">View Employee List</a>
    <br><br>
    <a href="logout" class="btn btn-danger btn-md" style="width: 250px;">Logout</a>
  </center>
</body>

</html>
